# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
**/.DS_Store

# SwiftPM
.build/
.swiftpm/

# Python helper scratch
__pycache__/
*.pyc
